p {
    text-align: center; 
}
#banner {
    width: 100%
}
#missao {
    style="font-size: 20px"
}

.textoCentralizado {
    text-align: center; 
}

.tituloPrincipal {
    padding-left: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic
}

.principal {
    background-color: #CCCC;
    padding: 20px;
}

.beneficios {
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%
}